<html lang="es">
    <head>
            <title>Docker COMMIT</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>

    <body>
        <form method="POST">
            <center><h1>Docker COMMIT</h1></center>
            <div class="jumbotron text-center">
                
                <div class="container">
                    <div class="container">

                        <p>
                            Puede ser útil confirmar los cambios o la configuración del archivo de un contenedor en una nueva imagen. Esto le permite depurar un contenedor ejecutando un shell interactivo o exportar un conjunto de datos de trabajo a otro servidor. Generalmente, es mejor usar Dockerfiles para administrar sus imágenes de una manera documentada y mantenible.
                        </p>
                        <p>
                            Con docker commit crearemos una imagen nueva a partir de un contenedor. Por ejemplo: Creamos un contenedor con docker run -it --name debian_9 -h debian_9 debian bash.
                        </p>
                        
                        <br>
                    </div>
                    
                </div>
                <div align="center"></div> 
                    <img src="https://d1.awsstatic.com/acs/characters/Logos/Docker-Logo_Horizontel_279x131.b8a5c41e56b77706656d61080f6a0217a3ba356d.png" width="400px" height="400px">
                    <br>
                    <input  class="btn btn-success" type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
                </div>
                <br>
                
            </div>    
        </form>
    </body>
</html>